services:
  db:
    image: postgres:15-alpine
    container_name: memegiphy_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=memegiphy
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  meilisearch:
    image: getmeili/meilisearch:v1.6
    container_name: memegiphy_meili
    restart: always
    environment:
      - MEILI_MASTER_KEY=masterKey
    ports:
      - "7700:7700"
    volumes:
      - meili_data:/meili_data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7700/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: memegiphy_redis
    restart: always
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: memegiphy_backend
    restart: always
    command: >
      sh -c "alembic upgrade head &&
             uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    volumes:
      - ./backend:/app
      - ./backend/uploads:/app/uploads
    env_file:
      - ./backend/.env
    environment:
      # ПЕРЕОПРЕДЕЛЯЕМ ХОСТЫ ДЛЯ DOCKER СЕТИ
      - MEILI_HOST=http://meilisearch:7700
      - MEILI_MASTER_KEY=masterKey
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/memegiphy
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      meilisearch:
        condition: service_started

  worker:
    build: ./backend
    container_name: memegiphy_worker
    restart: always
    command: celery -A app.core.celery_app worker --loglevel=info -B
    volumes:
      - ./backend:/app
      - ./backend/uploads:/app/uploads
    env_file:
      - ./backend/.env
    environment:
      # ПЕРЕОПРЕДЕЛЯЕМ ХОСТЫ ДЛЯ DOCKER СЕТИ
      - MEILI_HOST=http://meilisearch:7700
      - MEILI_MASTER_KEY=masterKey
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/memegiphy
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - backend
      - redis
      - db

  frontend:
    build: ./frontend
    container_name: memegiphy_frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      # URL для браузера (снаружи)
      - NEXT_PUBLIC_API_URL=http://localhost:8000
      # URL для сервера Next.js (внутри докера)
      - INTERNAL_API_URL=http://backend:8000
    depends_on:
      - backend

volumes:
  postgres_data:
  meili_data: